<div>
    <h3>Turmas</h3>
    <button mat-raised-button color="gray" (click)="openAddTeamDialog()">NOVO</button>
    <mat-card *ngFor="let element of (teamsData | async); let i = index" class="kid">
        
        <mat-card-header>
            <button mat-button (click)="__cardClick(element)">
                {{ element.teamId }}
            </button>
            <button mat-button (click)="__cardClick(element)">
                {{ element.name }}
            </button>
            <button mat-button color="primary" (click)="openTeamDialog(i, element)">
                editar
            </button>
            <!-- <button mat-button (click)="deleteItem(element.teamId)">
                deletar
            </button> -->
        </mat-card-header>
        <hr>
    </mat-card>
</div>