<h2 mat-dialog-title> NOVA TURMA </h2>
<mat-dialog-content [formGroup]="form">
    <div class="example-container">

        <mat-form-field>
            <input matInput placeholder="Nome" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Disciplina" formControlName="disciplineId" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Escola" formControlName="schoolId" />
        </mat-form-field>

    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onEdit()">
        Save
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        Cancel
    </button>
</mat-dialog-actions>