<h2 mat-dialog-title> NOVO USUÁRIO </h2>
<mat-dialog-content [formGroup]="form">
    <div class="example-container">

        <mat-form-field>
            <input matInput placeholder="Usuario" formControlName="userId" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Turma" formControlName="teamId" />
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onEdit()">
        Save
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        Cancel
    </button>
</mat-dialog-actions>