<mat-sidenav-container class="app-sidenav-container" [dir]="'ltr'">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z2" [opened]="!isScreenSmall()"
      [mode]="isScreenSmall() ? 'over' : 'side'">
      <mat-toolbar class="toolbar">
  
        <div class="sidebar-profile">
          <div class="user-pic">
            <img class="img-responsive img-rounded" [src]="photoUrl" alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">
              <strong>{{userName}}</strong>
            </span>
            <span class="user-role">Administrator</span>
          </div>
        </div>
  
      </mat-toolbar>
      <mat-nav-list>
        <a [routerLink]="['/main/schools']" *ngIf="isManager" >
          <mat-list-item>
            <span class="user-name">
              <strong>Escolas</strong>
            </span>
          </mat-list-item>
        </a>
        <a [routerLink]="['/main/disciplines']" *ngIf="isManager" >
          <mat-list-item>
            <span class="user-name">
              <strong>Disciplinas</strong>
            </span>
          </mat-list-item>
        </a>  
        <a [routerLink]="['/main/teams']" *ngIf="isManager" >
          <mat-list-item>
            <span class="user-name">
              <strong>Turmas</strong>
            </span>
          </mat-list-item>
        </a>
        <a [routerLink]="['/main/users']" *ngIf="isManager" >
          <mat-list-item>
            <span class="user-name">
              <strong>Usuarios</strong>
            </span>
          </mat-list-item>
        </a>
        <a [routerLink]="['/main/users']" *ngIf="isManager" >
          <mat-list-item>
            <span class="user-name">
              <strong>Usuarios por turma</strong>
            </span>
          </mat-list-item>
        </a>
      </mat-nav-list>
      <div class="copyright-container">
        <div fxFlex>
          <button (click)="logOut()">
            exit
          </button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav-content">
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>